header.header
	nav.main-menu__hidden-btn
		ul.main-menu
			li.main-menu__item Каталог оборудования
				ul.main-menu__first
					li.main-menu__item 1 уровень
						ul.main-menu__sub
							li.main-menu__item 2 уровень
								ul.main-menu__sub
									li.main-menu__item 3 уровень
										ul.main-menu__sub
											li.main-menu__item
												a.main-menu__link(href="#") 4 уровень меню
											li.main-menu__item
												a.main-menu__link(href="#") 4 уровень меню
					li.main-menu__item 1 уровень
						ul.main-menu__sub
							li.main-menu__item 2 уровень
								ul.main-menu__sub
									li.main-menu__item 3 уровень
										ul.main-menu__sub
											li.main-menu__item
												a.main-menu__link(href="#") 4 уровень меню
					li.main-menu__item 1 уровень
						ul.main-menu__sub
							li.main-menu__item
								a.main-menu__link(href="#") 2 уровень меню
							li.main-menu__item
								a.main-menu__link(href="#") 2 уровень меню
					li.main-menu__item 1 уровень
						ul.main-menu__sub
							li.main-menu__item 2 уровень
								ul.main-menu__sub
									li.main-menu__item
										a.main-menu__link(href="#") 3 уровень меню
									li.main-menu__item
										a.main-menu__link(href="#") 3 уровень меню
	.right-menu.js-table-view